.nav-link{
    height: 0 !important
}

.page-wrapper {
}
.navbar-vertical {
    width: 250px;
    position: fixed;
    height: 100vh;
}
.sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-visible {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.sidebar-toggle-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
}
.top-bar{
    padding: 10rem;
}
body {
  overflow-x: hidden;
}
